/* styles.css */

body {
  font-family: Cursive;
  background-color: #c23434;
  color: black;
  margin: 5px;
  padding: 10px;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 5px; /* Adjust as needed */
  color: #333; /* Adjust text color */
  font-size: 14px; /* Adjust font size */
}
